%YAML 1.2
%TAG ! tag:fawkesrobotics.org,cfg/
---
# Configuration meta information document
include:
  # reads files ending in .yaml from modules.d config subdir
  - !ignore-missing conf.d/
  # Reads host-specific config files from host_$host.d subdir
  # $host is replaced by the hostname, thus robotino-(laptop/base)-(1/2/3)
  # e.g. host_robotino-laptop-1.d
  - !ignore-missing host_$host.d/
  # Reads first host specific config file, this file is treated as normal
  # config file by the fawkes framework
  - !ignore-missing host_$host.yaml
  # Reads the second host-specific configuration file, no failure if missing
  # This file is rewritten from time to time by the fawkes system.
  - !host-specific host.yaml
---
# Main configuration document

fawkes:

  # Main app relevant settings
  mainapp:
    # Size of BlackBoard memory segment; bytes
    blackboard_size: 2097152
    # Desired loop time of main thread, 0 to disable; microseconds
    desired_loop_time: 66333

    # Maximum time a thread may run per loop, 0 to disable; microseconds
    max_thread_time: 160000

    loggers: console;file/debug:debug_$time.log

    # Enable to redirect stderr to the log. If you have mis-behaving
    # third-party code this can come in handy to keep records of what's
    # going on for later analysis.
    log_stderr_as_warn: true


    # *** Network settings
    # Moved to conf.d/network.yaml

# Log level for ballposlog example plugin; sum of any of
# debug=0, info=1, warn=2, error=4, none=8
ballposlog/log_level: 0


# More configuration values can be found in the files mentioned
# above in the meta config document regarding includes.
