# Generic globs
*~
.deps_*
.objs_*
*_tolua.cpp
*_tolua.pkg
*.swp
*.swo

# Specific paths, _ variants for cross compilation environments
/bin/
/bin_*/
/bin/debug.log
/cfg/*.db
/debug.log
/lib/
/lib_*/
/log/
/plugins/
/plugins_*
/warnings.txt
/cfg/host.yaml
/cfg/host.d
/cfg/navgraph-generated.yaml

# Eclipse project files, some are using it...
.cproject
.project
.buildpath

#Generated Protobuf C++ Files
*.pb.h
*.pb.cpp

# vim mergetool files
*.orig

# Generated interfaces
/src/**/interfaces/*.cpp
/src/**/interfaces/*.h
/src/**/interfaces/*.h_ext
/src/**/interfaces/*.tolua

# Log and stats files
*.log
/buildstats.db
/tests.out.d
