%YAML 1.2
%TAG ! tag:fawkesrobotics.org,cfg/
---
# Here you can override configuration values needed for the real robot
# with configuration values needed for the simulation
# if the configuration values are the same for all simulated robots

doc-url: !url http://trac.fawkesrobotics.org/wiki/Plugins/gazsim
---

#camera setup in the simulation
plugins/light_front:
  camera_offset_horizontal: 0
  camera_offset_horizontal_rad: 0.0
  camera_offset_vertical: 0
  camera_angle_horizontal_rad: .00
  camera_angle_vertical_rad: .00
  threashold_brightness: 120
  threashold_black: 80
  
clips-agent:
  clips-debug: true
  skill-sim: false
  skill-sim-time: 0.5
  
  # debug level is a number of: 0 ~ none, 1 ~ minimal, 2 ~ more, 3 ~ maximum
  debug-level: 3

  # Automatically assert the (start) fact after successful initialization,
  # otherwise wait until the an enalble message has been received
  auto-start: false

  # If set to true, will trigger the assertion of a (time (now)) fact in
  # each loop. This can be used to trigger loop events in CLIPS.
  assert-time-each-loop: true

  rcll2016:
    enable-sim: true
    play-exploration-without-refbox: false

skills/take_puck_to:
   #front sensor distance when the puck is lost
   front_sensor_dist: 0.073

skills/fetch_puck:
   #front sensor distance when fetching the puck
   front_sensor_dist: 0.045

skills/deliver_puck:
   #front sensor distance when checking if we still have the puck at the delivery gates
   front_sensor_dist: 0.05

skills/align_distance_conveyor/x: 0.25

fawkes:
  # Main app relevant settings
  mainapp:
    # Size of BlackBoard memory segment; bytes
    blackboard_size: 2097152
    # Desired loop time of main thread, 0 to disable; microseconds
    desired_loop_time: 66333
    enable_looptime_warnings: false
    # Maximum time a thread may run per loop, 0 to disable; microseconds
    max_thread_time: 133333

# Log level for ballposlog example plugin; sum of any of
# debug=0, info=1, warn=2, error=4, none=8
ballposlog/log_level: 0

#colli og-laser buffer:
plugins/colli/laser_occupancy_grid/buffer_size: 4

agent-monitor:
  robotino1: "127.0.0.1:8081"
  robotino2: "127.0.0.1:8082"
  robotino3: "127.0.0.1:8083"

plugins/amcl:
  alpha1: 0.3
  alpha2: 0.3
  save_pose_period: 0.0
  max_beams: 60
  map_file: maps/rc-2017.png
  origin_x: -7.5
  origin_y: -0.5
  map-lasergen/map_file: maps/rc-2017-wall.png
  map-lasergen/origin_x: -7.5
  map-lasergen/origin_y: -0.5

plugins/laser-filter:
  front-rotate/active: false
  front-downsample/active: false
  front-360to360/active: false
  filter-front-360/active: false
  filter-front-1080/active: false
  back-downsample/active: false
  back-360to360/active: false
  filter-back-360/active: false
  filter-back-1080/active: false
  robot-merged/active: false
  simulation/active: true

laser-lines/input_cloud: urg-filtered

plugins/static-transforms:
  transforms:
    gazsim_tag_vision:
      frame: !frame base_link
      child_frame: !frame gazsim_tag_vision
      trans_x: 0.1
      trans_y: 0.0
      trans_z: 0.44
      rot_pitch: 0 
      rot_yaw: 0
      rot_roll: 0
    cam_conveyor:
      trans_z: -0.22

arduino:
  # maximum space in x, y and z in meters
  x_max: 0.1999
  y_max: 0.085
  z_max: 0.1

 # min space in x, y and z in meters
  x_min: 0
  z_min: -2.0
  # y_min: defaults to y_max / -2
