<launch>
  <master auto="start"/>


  <param name="robot_description" command="cat $(find robotino_2Dnav)/cfg/robotino.urdf" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
   
    <rosparam file="$(find robotino_2Dnav)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robotino_2Dnav)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find robotino_2Dnav)/cfg/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robotino_2Dnav)/cfg/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find robotino_2Dnav)/cfg/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find robotino_2Dnav)/cfg/base_global_planner_params.yaml" command="load" />

    <!-- <rosparam file="$(find robotino_2Dnav)/cfg/dwa_local_planner_params.yaml" command="load" /> -->
    <!-- <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />-->

    <param name="recovery_behavior_enabled" value="true" type="bool" />
    <param name="conservative_reset_dist" value="5.6" type="double" />
  
</node>

</launch>
